{% extends 'base.html' %}
{% block title %} Contact us ! {% endblock title %} 
{% block contactactive %} active {% endblock contactactive  %}
{% block body %}
<div class="container my-3">

<h2>You can conatct us any time through the following ways  </h2>
<form action="/contact" method="POST">
  {% csrf_token %}
  <div class="form-group">
    <label for="name" class="form-label">Name</label>
    <input type="text" class="form-control" id="name" name="name" aria-describedby="name">
    
  </div>
  <div class="form-group">
    <label for="email" class="form-label">Email</label>
    <input type="email" class="form-control" id="email" name="email" aria-describedby="email">
    <small id="emailHelp" class="form-text text-muted">Your email will not be shared by any one</small>
  </div>

<div class="form-group">
    <label for="phone">Phone Number</label>
    <input type="phone" class="form-control" name ="phone" id="phone">
</div>

  <div class="form-group">
    <label for="content"> Discription:: </label>
    <textarea class="form-control" name ="content" id="content" cols="30" rows="5"></textarea>

  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
{% endblock body %}
